@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Noto Serif JP', serif;
    transition:all  0.8s cubic-bezier(.38.1.15,.7,1.12);
}

.navbar{
    background-color: #eff6ff !important;
}

.landing{
    height: 100vh;
    width: 100%;
    background-image:url(./images/home-bg.jpg);
    background-position: center;
    object-fit:cover;
    background-attachment: fixed;
}

.nav-item:hover{
    background-color: rgb(185, 185, 248);
    border-radius: 30px;
}

.nav-link a:hover{
    color:white;
}


